:root {
	--bs-primary-rgb: 63, 81, 181;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	min-height: 100vh;
}

.min-h-without-navbar {
	min-height: calc(100vh - 5rem);
}

.bg-main {
	background-color: #c5cae9;
}

/* Utilidades que faltam no bootstrap */
.object-cover {
	object-fit: cover;
}

.w-fit {
	width: fit-content;
}

.place-items-center {
	place-items: center;
}

.inset-0 {
	inset: 0;
}

.-z-10 {
	z-index: -10;
}

/* Checkbox don't have pointer cursor by default for some reason */
.form-check:has(> .form-check-input:not(:disabled)) {
	cursor: pointer;
}

.form-check-label,
.form-check-input {
	cursor: inherit !important;
}

.cursor-pointer {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #202327;
}

::-webkit-scrollbar-thumb {
	background: #56595e;
	border-radius: 10px;
}
