.login-cnt {
	background-image: url(/static/login-bg.jpeg);
	background-size: cover;
	display: grid;
	place-items: center;
}

.login-form {
	border-radius: 2rem;
	color: white;

	background-color: rgba(8, 37, 139, 0.52);

	padding-inline: 2.5rem;
	padding-block: 2rem;
}

.title {
	font-size: 4em;
	font-weight: bold;
}
